:root {
    --green: #14b208;
    --green-hover: #17aa0b;
    --red-hover: #b71c1c;
    --light-font: #fafafa;
    --dark-font: #212121;
    --disabled-grey: #757575;
}

.modalsjs-view{
    width: 90%;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #263238;
}

th, td {
    text-align: center;
}

tbody tr:last-child td {
    border-bottom: none;
}
thead tr th:first-child {
    padding-left: 15px;
}

::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

li {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
thead, tbody {
    border-radius: 4px;
}
form {
    margin-bottom: 0;
}

.container {
    padding-top: 70px;
}

.box {
    border-radius: 4px;
    background-color: white;
}

#category-lst {
    overflow-y: scroll;
    min-height: 34px;
    margin-bottom: 10px;
}

#category-lst li.selected {
    background-color: #14b208;
    color: var(--light-font);
}

.category-lst ul {
    list-style: none;
    margin-bottom: 0;
}

.category-lst li {
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #D1D1D1D1;
}

.category-lst li:last-child {
    border-bottom: none;
}

.category-lst li:hover {
    background-color: var(--green);
    color: var(--light-font);
}

.credential-table {
    table-layout: fixed;
    border-collapse: collapse;
}

.credential-table:last-child {
    margin-bottom: 0;
}

#credentials-tbody td {
    user-select: none;
}

#credentials-tbody td:last-child {
    padding: 0;
    width: 30px;
}

.btn,
input.btn-submit[type=submit],
input.btn-submit[type=button] {
    background: var(--green);
    border: none;
    letter-spacing: unset;
    text-transform: none;
    font-weight: bold;
    font-size: unset;
    color: var(--light-font);
    margin-bottom: 0;
}
.btn:disabled {
    background: var(--disabled-grey);
}

.btn,
input.btn-submit[type=submit]:hover,
input.btn-submit[type=button]:hover {
    background: var(--green-hover);
    color: var(--dark-font);
}

.btn,
.top-btn {
    border-radius: 4px;
    background-color: var(--green);
    color: var(--light-font);
    cursor: pointer;
    text-align: center;
}

.top-btn {
    padding: 6px 10px 6px 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 1px;
    right: 0;
}


.btn:hover,
.btn-update:hover,
.top-btn:hover {
    color: var(--dark-font);
    background-color: var(--green-hover);
}

.passgen-top-row-btn {
    margin-left: 0;
    color: var(--dark-font);
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.passgen-top-row-btn:hover,
.passgen-top-row-btn.active {
    background-color: var(--green);
    color: white;
}

.separator {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 15px;
}

.material-icons:hover {
    color: #616161;
    cursor: pointer;
}

.header {
    font-family: 'Mukta Mahee', sans-serif;
    color: var(--light-font);
    text-align: center;
    font-size: 5vmax;
}

#login-form,
#register-form {
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

.show-password {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.more-button {
    float: right;
}

#loading {
    color: var(--light-font);
    font-size: 60px;
    z-index: 2;
    position: fixed;
    left: calc(50% - 30px);
    top: calc(30% - 30px);
    transform: translate(-50%, -50%);
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-menu {
    user-select: none;
    position: fixed;
}

.dropdown-menu {
    display: none;
    z-index: 1000;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #DEF;
}

.dropdown-menu.active {
    display: inherit;
}

td i {
    user-select: none;
}

td[data-type=password]:hover, td[data-type=username]:hover {
    cursor: pointer;
}

td[data-type=password], td[data-type=username] {
    transition: background-color 300ms;
}

td[data-type=password]:active, td[data-type=username]:active {
    background-color: rgba(80, 80, 80, 0.1);
    transition: background-color 100ms;
}

.modalsjs-bgc {
    background-color: #F5F5F5;
}

.modalsjs-view {
    border-radius: 4px;
    top: 35%;
    max-width: 500px;
}

.right-align {
    float: right;
}
.left-align {
    float: left;
}

.pass-gen {
    display: none;
}
.pass-gen.active {
    display: inherit;
}

#new-pass {
    color: var(--light-font);
    text-align: center;
    background-color: var(--green);
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 300ms, color 200ms;
}
#new-pass:hover {
    color: var(--dark-font);
    cursor: pointer;
    background-color: var(--green-hover);
    transition: background-color 100ms, color 100ms;
}
#new-pass:active {
    background-color: #BDBDBD;
    transition: background-color 25ms;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');
}
.invite {
    text-align: center;
}
.invite a, .invite b, .invite p, .invite span {
    display: block;
}

.new-pass-row {
    display: flex;
    align-items: stretch;
}

@media (max-width: 550px){
    .header {
        font-size: 8vmax;
    }
    td[data-type=description],
    th[data-type=description] {
        /*width: 0;*/
        display: none;
    }
}

#hint-text li {
    padding: 0;
}

#hint-text ul {
    margin-bottom: 10px;
}
