:root {
    --green: #14b208;
    --green-hover: #17aa0b;
}

body {
    background-color: #263238;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

li {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    padding-top: 70px;
}

.box {
    /*border: 1px solid #D1D1D1D1;*/
    border-radius: 4px;
    background-color: white;
}

#bucket-lst {
    overflow-y: scroll;
    min-height: 34px;
    max-height: 700px;
}

.bucket-lst > ul {
    list-style: none;
    margin-bottom: 0;
}

.bucket-lst > ul > li {
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #D1D1D1D1;
    /*font-weight: bold;*/
}

.bucket-lst > ul > li:last-child {
    border-bottom: none;
}

.bucket-lst > ul > li:hover {
    /*background-color: #EEEEEE;*/
    background-color: var(--green);
    color: white;
}

.bucket-table:last-child {
    margin-bottom: 0;
}

#bucket-tbody > tr > td:last-child {
    padding: 0;
    width: 30px;
}

input.btn-submit[type=submit] {
    background: var(--green);
    border: none;
    letter-spacing: unset;
    text-transform: none;
    font-weight: bold;
    font-size: unset;
    color: white;
}

input.btn-submit[type=submit]:hover {
    background: var(--green-hover);
    color: black;
}

.btn,
.btn-add {
    border-radius: 4px;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 6px;
    text-align: center;
}

.btn-add {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    max-width: 50px;
    right: 0;
}

.btn:hover,
.btn-add:hover {
    color: black;
    background-color: var(--green-hover);
}

.material-icons:hover {
    color: red;
    cursor: pointer;
}

.header {
    color: white;
    text-align: center;
}

.login {
    margin: auto;
    padding: 20px;
    max-width: 600px;
}

/*modal */
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
    border-radius: 4px;
    box-shadow: 10px 10px 39px -8px rgba(0,0,0,0.75);
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    /*color: #aaa;*/
    line-height: 50px;
    /*font-size: 80%;*/
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    /*text-decoration: none;*/
}

/*.modal-close:hover {*/
/*color: #000;*/
/*}*/

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}